
[Desktop Entry]
Name=Archive Manager for Shift-JIS ZIP
Name[ja]=書庫マネージャ for Shift-JIS ZIP
Comment=Convert an Shift-JIS archive to UTF-8 one
Comment[ja]=Shift-JIS 書庫を UTF-8 に変換します
TryExec=file-roller-sjis
Exec=file-roller-sjis %U
StartupNotify=true
Terminal=false
Type=Application
Icon=file-roller
Categories=GTK;GNOME;Utility;Archiving;Compression;
MimeType=application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;
X-GNOME-DocPath=file-roller/file-roller.xml
X-GNOME-Bugzilla-Version=2.28.2
X-Desktop-File-Install-Version=0.15
